<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Registro exitoso</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap-combined.no-icons.min.css">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fjquery.js"></script>
    <script src="https://d396qusza40orc.cloudfront.net/startup%2Fcode%2Fbootstrap.js"></script>
  </head>
  <body>
    <div class="container">
      <h2>Ya estás registrado</h2>
      <p>
        Gracias por registrarte <strong><%= user.firstname %> <%= user.lastname %></strong>!
      </p>
      <p>Te mantendremos en contacto sobre cualquier cambio.</p>
      <a href="/">Inicio</a>
    </div>
  </body>
</html>
